
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Default.Skill.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new SayugaSol.Default.SkillGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>